:root {
    --backgroundColor: #a7b97b;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--backgroundColor);
}

.container {
    background-color: var(--backgroundColor);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.svg-section {
    grid-column: 1 / 1;
}

.accordion-section {
    grid-column: 2 / 4;
    height: fit-content;
    padding: 2rem;
    line-height: 1.5;
    font-size: 110%;
}

h1 {
    text-align: center;
}

.accordion-panel {
    display: none;
}

.icon-collapsed {
    display: inline-block;
}

.accordion-panel[data-state='expanded'] {
    display: block;
}

.icon-expanded {
    display: none;
}

button {
    width: 100%;
    padding: 0.5rem 0.3rem;
    margin: 1rem;
    text-align: start;
}

h2:focus,
button:focus {
    border: 3px solid blue;
    outline: none;
}

.accordion-icon {
    float: right;
}

@media screen and (max-width: 820px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        text-align: center;
    }
}